header {
    background-color: white;
}

.cabeçalho.imagem{
    width: 1%;
}
*{
    margin: 0;
    padding: 0;
}

.cabecalho {
    background-color: white;
    color: white;
    display:flex;
    justify-content: center;
    align-items: center;
    padding: 1% 0;
}

.logo{
    width: 50%;
}
.iphone15{
    width: 50%;
}
.iphone14{
    width: 50%;
}
.iphone13{
    width: 50%;
}
.issoiphone{
    width: 50%;
}
.i15foto{
    width: 110%;
}

.clogo.logo.jpg{
    display: inline-block;
    margin: 0 1%;
    font-size: 1%;
}
.meio{
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo2{
    width: 100%;
}
.i15elogo{
    display: flex;
    justify-content: center;
    align-items: center;
}